.root {
	position: relative;

	width: 100%;
	height: 0.5em;
	background-color: var(--default);
	cursor: pointer;
	transition: transform 0.2s;

	&:hover {
		transform: scaleY(1.1);
	}
}

.time,
.buffer {
	position: absolute;
	top: 0;
	left: 0;

	width: 0;
	height: 100%;
	background-color: var(--blue);
}

.time {
	z-index: 2;
}

.buffer {
	z-index: 1;

	width: 0;
	opacity: 0.3;
	transition: width 0.2s;
}
