:root {
	--blue: #475b79;
	--grey: #a0a2b1;
	--ashen: #ebe1dc;
	--orange: #faac88;
	--eggplant: #986a8d;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: system-ui;
}

:global(#app) {
	width: 100%;
	height: 100%;
}
