:root {
	--blue: #475b79;
	--grey: #a0a2b1;
	--ashen: #ebe1dc;
	--orange: #faac88;
	--eggplant: #986a8d;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: system-ui;
}
