.root {
	width: 100%;
	height: 100%;
	background-image: url(./assets/space.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.player {
	position: fixed;
	bottom: 0;

	width: 100%;
	height: 100px;
}
